{% extends 'main.html' %}
{% load static %}
{% block content %}



<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">

            <br>

            <form class="form" action="" method="POST">
                {% csrf_token %}
                <h5>Are you sure you want to delete ? {{ object }} </h5>

                <a class="btn btn--sub btn--lg  my-md"  href="{% url 'resumes'  %}">No</a>

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Yes" />



            </form>
        </div>
    </div>
</main>

{% endblock %}