{% load static %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
<style>
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: #eee;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 50px;
}

.container_res {
    max-width: 700px;
    background: #fff;
    box-shadow: 1px 1px 2px #dad7d7;
    border-radius: 3px;
    padding: 40px;
    margin: 50px auto 0;
}

.header {
    margin-bottom: 30px;
}

.full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.first-name {
    font-weight: 700;
}

.last-name {
    font-weight: 300;
}

.contact-info {
    margin-bottom: 20px;
}

.email,
.phone {
    color: #999;
    font-weight: 300;
}

.separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0 10px;
}

.position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
}

.details {
    line-height: 20px;
}

.section {
    margin-bottom: 40px;
}

.section:last-of-type {
    margin-bottom: 0;
}

.section__title {
    letter-spacing: 2px;
    color: #54afe4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.section__list-item {
    margin-bottom: 40px;
}

.section__list-item:last-of-type {
    margin-bottom: 0;
}

.left,
.right {
    vertical-align: top;
    display: inline-block;
}

.left {
    width: 60%;
}

.right {
    text-align: left;
    width: 39%;
}

.name {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
    color: #000;
}

.skills {
}

.skills__item {
    margin-bottom: 10px;
}

.skills__item .right {

}

input {
    display: none;
}

label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #c3def3;
    border-radius: 20px;
    margin-right: 3px;
}

input:checked + label {
    background: #79a9ce;
}

#download-pdf-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#download-pdf-button:hover {
    background-color: #0056b3;
}
</style>


    {% if resume.resume_template == 'Simple Resume' %}

        <link rel="stylesheet" type="text/css" href="{% static 'resume-templates/resume-01.css' %}"/>
        <div class="container_res">
            <div class="headerss">

                <div class="full-name">
                    <span class="first-name">{{ resume.first_name }}</span>
                    <span class="last-name">{{ resume.last_name }}</span>
                </div>
                <div class="contact-info">
                    <span class="email">Email:{{ resume.email }} </span>
                    <span class="email-val"></span>
                    <span class="separator"></span>
                    <span class="phone">Phone:{{ resume.phone_number }} </span>

                </div>


                <div class="about">
                    <span class="position">{{ resume.position }} </span>
                    <span class="desc">
       {{ resume.bio }}
      </span>
                </div>
            </div>

            <div class="details">
                <div class="section">
                    <div class="section__title">Experience</div>
                    <div class="section__list">
                        {% for exp in experience %}
                            <div class="section__list-item">
                                <div class="left">
                                    <div class="name">{{ exp.employer_name }}</div>
                                    <div class="duration">From:{{ exp.start_date }}</div>
                                    <div class="duration">To:{{ exp.end_date }}</div>

                                </div>

                                <div class="right">
                                    <div class="name">{{ exp.position }}</div>
                                    <div class="desc">{{ exp.job_description }}</div>
                                </div>
                            </div>

                            </div>
                        {% endfor %}

                </div>
                <div class="section">
                    <div class="section__title">Education</div>
                    <div class="section__list">
                        {% for edu in education %}
                            <div class="section__list-item">
                                <div class="left">
                                    <div class="name">{{ edu.school_name }}</div>
                                    <div class="addr">{{ edu.degree }}</div>
                                    <div class="duration">{{ edu.school_start_date }}</div>
                                    <div class="duration">{{ edu.school_end_date }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="section">
                    <div class="section__title">Projects</div>
                    <div class="section__list">
                        {% for proj in project %}
                            <div class="section__list-item">
                                <div class="name">{{ proj.project_name }}</div>
                                <div class="text">{{ proj.project_description }}
                                    <div class="duration">Start date: {{ proj.start_date_of_project }} </div>
                                    <div class="duration">End date: {{ proj.end_date_of_project }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="section">
                    <div class="section__title">Skills</div>
                    <div class="skills">
                        {% for skill in skills %}
                            <div class="skills__item">
                                <div class="left">
                                    <div class="name">
                                        {{ skill.skill_name }}
                                    </div>
                                </div>
                                <div class="right">
                                   {{ skill.skill_description }}

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>





    {% else %}
        <head>

            <title>Jonathan Doe | Web Designer, Director | name@yourdomain.com</title>
            <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

            <meta name="keywords" content=""/>
            <meta name="description" content=""/>

            <link rel="stylesheet" type="text/css"
                  href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all"/>
            <link rel="stylesheet" type="text/css" href="{% static 'resume-templates/resume-02.css' %}"/>

        </head>


        <body>

        <div id="doc2" class="yui-t7">
            <div id="inner">

                <div id="hd">
                    <div class="yui-gc">
                        <div class="yui-u first">
                            <h1>{{ resume.first_name }}</h1>
                            <h1>{{ resume.last_name }}</h1>
                            <h2>Web Designer, Director</h2>
                        </div>

                        <div class="yui-u">
                            <div class="contact-info">
                                <h3><a id="pdf" href="#">Download PDF</a></h3>
                                <h3><a href="mailto:name@yourdomain.com">{{ resume.email }}</a></h3>
                                <h3>{{ resume.phone_number }}</h3>
                            </div><!--// .contact-info -->
                        </div>
                    </div><!--// .yui-gc -->
                </div><!--// hd -->

                <div id="bd">
                    <div id="yui-main">
                        <div class="yui-b">

                            <div class="yui-gf">
                                <div class="yui-u first">
                                    <h2>Profile</h2>
                                </div>
                                <div class="yui-u">
                                    <p class="enlarge">
                                        Progressively evolve cross-platform ideas before impactful infomediaries.
                                        Energistically visualize tactical initiatives before cross-media catalysts for
                                        change.
                                    </p>
                                </div>
                            </div><!--// .yui-gf -->

                            <div class="yui-gf">
                                <div class="yui-u first">
                                    <h2>Skills</h2>
                                </div>
                                <div class="yui-u">

                                    <div class="talent">
                                        <h2>Web Design</h2>
                                        <p>Assertively exploit wireless initiatives rather than synergistic core
                                            competencies. </p>
                                    </div>

                                    <div class="talent">
                                        <h2>Interface Design</h2>
                                        <p>Credibly streamline mission-critical value with multifunctional
                                            functionalities. </p>
                                    </div>

                                    <div class="talent">
                                        <h2>Project Direction</h2>
                                        <p>Proven ability to lead and manage a wide variety of design and development
                                            projects in team and independent situations.</p>
                                    </div>
                                </div>
                            </div><!--// .yui-gf -->

                            <div class="yui-gf">
                                <div class="yui-u first">
                                    <h2>Technical</h2>
                                </div>
                                <div class="yui-u">
                                    <ul class="talent">
                                        <li>XHTML</li>
                                        <li>CSS</li>
                                        <li class="last">Javascript</li>
                                    </ul>

                                    <ul class="talent">
                                        <li>Jquery</li>
                                        <li>PHP</li>
                                        <li class="last">CVS / Subversion</li>
                                    </ul>

                                    <ul class="talent">
                                        <li>OS X</li>
                                        <li>Windows XP/Vista</li>
                                        <li class="last">Linux</li>
                                    </ul>
                                </div>
                            </div><!--// .yui-gf-->

                            <div class="yui-gf">

                                <div class="yui-u first">
                                    <h2>Experience</h2>
                                </div><!--// .yui-u -->

                                <div class="yui-u">

                                    <div class="job">
                                        <h2>Facebook</h2>
                                        <h3>Senior Interface Designer</h3>
                                        <h4>2005-2007</h4>
                                        <p>Intrinsicly enable optimal core competencies through corporate relationships.
                                            Phosfluorescently implement worldwide vortals and client-focused
                                            imperatives. Conveniently initiate virtual paradigms and top-line
                                            convergence. </p>
                                    </div>

                                    <div class="job">
                                        <h2>Apple Inc.</h2>
                                        <h3>Senior Interface Designer</h3>
                                        <h4>2005-2007</h4>
                                        <p>Progressively reconceptualize multifunctional "outside the box" thinking
                                            through inexpensive methods of empowerment. Compellingly morph extensive
                                            niche markets with mission-critical ideas. Phosfluorescently deliver
                                            bricks-and-clicks strategic theme areas rather than scalable benefits. </p>
                                    </div>

                                    <div class="job">
                                        <h2>Microsoft</h2>
                                        <h3>Principal and Creative Lead</h3>
                                        <h4>2004-2005</h4>
                                        <p>Intrinsicly transform flexible manufactured products without excellent
                                            intellectual capital. Energistically evisculate orthogonal architectures
                                            through covalent action items. Assertively incentivize sticky platforms
                                            without synergistic materials. </p>
                                    </div>


                                    <div class="job last">
                                        <h2>International Business Machines (IBM)</h2>
                                        <h3>Lead Web Designer</h3>
                                        <h4>2001-2004</h4>
                                        <p>Globally re-engineer cross-media schemas through viral methods of
                                            empowerment. Proactively grow long-term high-impact human capital and highly
                                            efficient innovation. Intrinsicly iterate excellent e-tailers with timely
                                            e-markets.</p>
                                    </div>

                                </div><!--// .yui-u -->
                            </div><!--// .yui-gf -->


                            <div class="yui-gf last">
                                <div class="yui-u first">
                                    <h2>Education</h2>
                                </div>
                                <div class="yui-u">
                                    <h2>Indiana University - Bloomington, Indiana</h2>
                                    <h3>Dual Major, Economics and English &mdash; <strong>4.0 GPA</strong></h3>
                                </div>
                            </div><!--// .yui-gf -->


                        </div><!--// .yui-b -->
                    </div><!--// yui-main -->
                </div><!--// bd -->

                <div id="ft">
                    <p>Jonathan Doe &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) -
                        867-5309</p>
                </div><!--// footer -->

            </div><!-- // inner -->


        </div><!--// doc -->


        </body>


    {% endif %}




{% endblock content %}
