{% load static %}
{% block content %}

    {% if resume.resume_template == 'Simple Resume' %}

        <link rel="stylesheet" type="text/css" href="{% static 'resume-templates/resume-01.css' %}"/>
        <link rel="shortcut icon" href="" type="image/x-icon"/>
        <!-- Icon - IconMonster -->
        <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css"/>
        <!-- Mumble UI -->
        <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}"/>
        <div class="container_res">
            <div class="headerss">

                <div class="full-name">
                    <span class="first-name">{{ resume.first_name }}</span>
                    <span class="last-name">{{ resume.last_name }}</span>

                </div>
                <div class="contact-info">
                    <span class="email">Email:{{ resume.email }} </span>
                    <span class="email-val"></span>
                    <span class="separator"></span>
                    <span class="phone">Phone:{{ resume.phone_number }} </span>

                </div>


                <div class="about">
                    <span class="position">{{ resume.position }} </span>
                    <span class="desc">
       {{ resume.bio }}
      </span>
                </div>
            </div>
            <a class="tag tag--pill tag--main settings__btn" href="{% url 'update' resume.id %}"><i
                    class="im im-edit"></i>
                Edit</a>
            <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete' resume.id %}"><i
                    class="im im-x-mark-circle-o"></i>
                Delete</a>


            <br>
            <div class="details">
                <div class="section">
                    <div class="section__title">Experience</div>
                    <div class="section__list">
                        {% for exp in experience %}
                            <div class="section__list-item">
                                <div class="left">
                                    <div class="name">{{ exp.employer_name }}</div>
                                    <br>
                                    <div class="duration">From:{{ exp.start_date }}</div>
                                    <div class="duration">To:{{ exp.end_date }}</div>

                                </div>

                                <div class="right">
                                    <div class="name">{{ exp.position }}</div>
                                    <div class="desc">{{ exp.job_description }}</div>
                                    <br>
                                </div>
                            </div>

                            </div>
                        {% endfor %}

                </div>

                {% for exp in experience %}
                    <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-experience' exp.id %}"><i
                            class="im im-edit"></i>
                        Edit</a>
                    <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-experience' exp.id %}"><i
                            class="im im-x-mark-circle-o"></i>
                        Delete</a>
                {% endfor %}



                <div class="section">
                    <div class="section__title">Education</div>
                    <div class="section__list">
                        {% for edu in education %}
                            <div class="section__list-item">
                                <div class="left">
                                    <div class="name">{{ edu.school_name }}</div>
                                    <div class="addr">{{ edu.degree }}</div>
                                    <div class="duration">{{ edu.school_start_date }}</div>
                                    <div class="duration">{{ edu.school_end_date }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% for edu in education %}
                        <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-education' edu.id %}"><i
                                class="im im-edit"></i>
                            Edit</a>
                        <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-education' edu.id %}"><i
                                class="im im-x-mark-circle-o"></i>
                            Delete</a>
                    {% endfor %}


                </div>
                <div class="section">
                    <div class="section__title">Projects</div>
                    <div class="section__list">
                        {% for proj in project %}
                            <div class="section__list-item">
                                <div class="name">{{ proj.project_name }}</div>
                                <div class="text">{{ proj.project_description }}
                                    <div class="duration">Start date: {{ proj.start_date_of_project }} </div>
                                    <div class="duration">End date: {{ proj.end_date_of_project }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% for proj in project %}
                    <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-project' proj.id %}"><i
                            class="im im-edit"></i>
                        Edit</a>
                    <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-project' proj.id %}"><i
                            class="im im-x-mark-circle-o"></i>
                        Delete</a>
                {% endfor %}


                <div class="section">
                    <div class="section__title">Skills</div>
                    <div class="skills">
                        {% for skill in skills %}
                            <div class="skills__item">
                                <div class="left">
                                    <div class="name">
                                        {{ skill.skill_name }}
                                    </div>
                                </div>
                                <br>
                                <div class="left">
                                    {{ skill.skill_description }}

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% for skill in skills %}
                    <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-skill' skill.id %}"><i
                            class="im im-edit"></i>
                        Edit</a>
                    <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-skill' skill.id %}"><i
                            class="im im-x-mark-circle-o"></i>
                        Delete</a>
                {% endfor %}

                <br>
                <br>

                <a href="{% url 'make_pdf' pk=resume.pk %}" class="btn btn--sub btn--lg  my-md"
                   id="download-pdf-button">Download PDF</a>


            </div>
        </div>


    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'resume-templates/resume-01.css' %}"/>
        <link rel="shortcut icon" href="" type="image/x-icon"/>
        <!-- Icon - IconMonster -->
        <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css"/>
        <!-- Mumble UI -->
        <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}"/>
        <div class="container_res">
            <div class="headerss">

                <div class="full-name">
                    <span class="first-name">{{ resume.first_name }}</span>
                    <span class="last-name">{{ resume.last_name }}</span>

                </div>
                <div class="contact-info">
                    <span class="email">Email:{{ resume.email }} </span>
                    <span class="email-val"></span>
                    <span class="separator"></span>
                    <span class="phone">Phone:{{ resume.phone_number }} </span>

                </div>


                <div class="about">
                    <span class="position">{{ resume.position }} </span>
                    <span class="desc">
       {{ resume.bio }}
      </span>
                </div>
            </div>
            <br>
            <div class="details">
                <div class="section">
                    <div class="section__title">Experience</div>
                    <div class="section__list">
                        {% for exp in experience %}
                            <div class="section__list-item">
                                <div class="left">
                                    <div class="name">{{ exp.employer_name }}</div>
                                    <br>
                                    <div class="duration">From:{{ exp.start_date }}</div>
                                    <div class="duration">To:{{ exp.end_date }}</div>

                                </div>

                                <div class="right">
                                    <div class="name">{{ exp.position }}</div>
                                    <div class="desc">{{ exp.job_description }}</div>
                                    <br>
                                </div>
                            </div>

                            </div>
                        {% endfor %}

                </div>
                <div class="section">
                    <div class="section__title">Education</div>
                    <div class="section__list">
                        {% for edu in education %}
                            <div class="section__list-item">
                                <div class="left">
                                    <div class="name">{{ edu.school_name }}</div>
                                    <div class="addr">{{ edu.degree }}</div>
                                    <div class="duration">{{ edu.school_start_date }}</div>
                                    <div class="duration">{{ edu.school_end_date }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="section">
                    <div class="section__title">Projects</div>
                    <div class="section__list">
                        {% for proj in project %}
                            <div class="section__list-item">
                                <div class="name">{{ proj.project_name }}</div>
                                <div class="text">{{ proj.project_description }}
                                    <div class="duration">Start date: {{ proj.start_date_of_project }} </div>
                                    <div class="duration">End date: {{ proj.end_date_of_project }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="section">
                    <div class="section__title">Skills</div>
                    <div class="skills">
                        {% for skill in skills %}
                            <div class="skills__item">
                                <div class="left">
                                    <div class="name">
                                        {{ skill.skill_name }}
                                    </div>
                                </div>
                                <br>
                                <div class="left">
                                    {{ skill.skill_description }}

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'make_pdf' pk=resume.pk %}" class="btn btn--sub btn--lg  my-md"
                   id="download-pdf-button">Download PDF</a>


            </div>
        </div>


    {% endif %}




{% endblock content %}
