{% extends 'main.html' %}
{% load static %}
{% block content %}


    {% if resume.resume_template == 'Simple Resume' %}

        <link rel="stylesheet" type="text/css" href="{% static 'resume-templates/resume-01.css' %}"/>
        <div class="container_res">
            <div class="headerss">

                <div class="full-name">
                    <span class="first-name">{{ resume.first_name }}</span>
                    <span class="last-name">{{ resume.last_name }}</span>
                </div>
                <div class="contact-info">
                    <span class="email">Email:{{ resume.email }} </span>
                    <span class="email-val"></span>
                    <span class="separator"></span>
                    <span class="phone">Phone:{{ resume.phone_number }} </span>

                </div>


                <div class="about">
                    <span class="position">{{ resume.job_title }} </span>
                    <span class="desc">
       {{ resume.bio }}
      </span>
                </div>
            </div>


            <div class="details">
                <div class="section">
                    <div class="section__title">Experience</div>
                    <div class="section__list">
                        <div class="section__list-item">
                            <div class="left">
                                <div class="name">{{ resume.employer_name }}</div>
                                <div class="addr">{{ resume.address }}</div>
                                <div class="duration">{{ resume.start_date }}</div>
                                <div class="duration">{{ resume.end_date }}</div>
                            </div>
                            <div class="right">
                                <div class="name">{{ resume.position }}</div>
                                <div class="desc">did This and that</div>
                            </div>
                        </div>
                        <div class="section__list-item">
                            <div class="left">
                                <div class="name">Akount</div>
                                <div class="addr">San Monica, CA</div>
                                <div class="duration">Jan 2011 - Feb 2015</div>
                            </div>
                            <div class="right">
                                <div class="name">Fr developer</div>
                                <div class="desc">did This and that</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="section">
                    <div class="section__title">Education</div>
                    <div class="section__list">
                        <div class="section__list-item">
                            <div class="left">
                                <div class="name">Sample Institute of technology</div>
                                <div class="addr">San Fr, CA</div>
                                <div class="duration">Jan 2011 - Feb 2015</div>
                            </div>
                            <div class="right">
                                <div class="name">Fr developer</div>
                                <div class="desc">did This and that</div>
                            </div>
                        </div>
                        <div class="section__list-item">
                            <div class="left">
                                <div class="name">Akount</div>
                                <div class="addr">San Monica, CA</div>
                                <div class="duration">Jan 2011 - Feb 2015</div>
                            </div>
                            <div class="right">
                                <div class="name">Fr developer</div>
                                <div class="desc">did This and that</div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="section">
                    <div class="section__title">Projects</div>
                    <div class="section__list">
                        <div class="section__list-item">
                            <div class="name">DSP</div>
                            <div class="text">I am a front-end developer with more than 3 years of experience writing
                                html, css,
                                and js.
                                I'm motivated, result-focused and seeking a successful team-oriented company with
                                opportunity to
                                grow.
                            </div>
                        </div>

                        <div class="section__list-item">
                            <div class="name">DSP</div>
                            <div class="text">I am a front-end developer with more than 3 years of experience writing
                                html, css,
                                and js.
                                I'm motivated, result-focused and seeking a successful team-oriented company with
                                opportunity to
                                grow.
                                <a href="/login">link</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="section__title">Skills</div>
                    <div class="skills">
                        <div class="skills__item">
                            <div class="left">
                                <div class="name">
                                    Javascript
                                </div>
                            </div>
                            <div class="right">
                                <input id="ck1" type="checkbox" checked/>

                                <label for="ck1"></label>
                                <input id="ck2" type="checkbox" checked/>

                                <label for="ck2"></label>
                                <input id="ck3" type="checkbox"/>

                                <label for="ck3"></label>
                                <input id="ck4" type="checkbox"/>
                                <label for="ck4"></label>
                                <input id="ck5" type="checkbox"/>
                                <label for="ck5"></label>

                            </div>
                        </div>

                    </div>
                    <div class="skills__item">
                        <div class="left">
                            <div class="name">
                                CSS
                            </div>
                        </div>
                        <div class="right">
                            <input id="ck1" type="checkbox" checked/>

                            <label for="ck1"></label>
                            <input id="ck2" type="checkbox" checked/>

                            <label for="ck2"></label>
                            <input id="ck3" type="checkbox"/>

                            <label for="ck3"></label>
                            <input id="ck4" type="checkbox"/>
                            <label for="ck4"></label>
                            <input id="ck5" type="checkbox"/>
                            <label for="ck5"></label>

                        </div>
                    </div>

                </div>
                <div class="section">
                    <div class="section__title">
                        Interests
                    </div>
                    <div class="section__list">
                        <div class="section__list-item">
                            Football, programming.
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% else %}
        <head>

            <title>Jonathan Doe | Web Designer, Director | name@yourdomain.com</title>
            <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

            <meta name="keywords" content=""/>
            <meta name="description" content=""/>

            <link rel="stylesheet" type="text/css"
                  href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all"/>
            <link rel="stylesheet" type="text/css" href="{% static 'resume-templates/resume-02.css' %}"/>

        </head>


        <body>

        <div id="doc2" class="yui-t7">
            <div id="inner">

                <div id="hd">
                    <div class="yui-gc">
                        <div class="yui-u first">
                            <h1>Jonathan Doe</h1>
                            <h2>Web Designer, Director</h2>
                        </div>

                        <div class="yui-u">
                            <div class="contact-info">
                                <h3><a id="pdf" href="#">Download PDF</a></h3>
                                <h3><a href="mailto:name@yourdomain.com">name@yourdomain.com</a></h3>
                                <h3>(313) - 867-5309</h3>
                            </div><!--// .contact-info -->
                        </div>
                    </div><!--// .yui-gc -->
                </div><!--// hd -->

                <div id="bd">
                    <div id="yui-main">
                        <div class="yui-b">

                            <div class="yui-gf">
                                <div class="yui-u first">
                                    <h2>Profile</h2>
                                </div>
                                <div class="yui-u">
                                    <p class="enlarge">
                                        Progressively evolve cross-platform ideas before impactful infomediaries.
                                        Energistically visualize tactical initiatives before cross-media catalysts for
                                        change.
                                    </p>
                                </div>
                            </div><!--// .yui-gf -->

                            <div class="yui-gf">
                                <div class="yui-u first">
                                    <h2>Skills</h2>
                                </div>
                                <div class="yui-u">

                                    <div class="talent">
                                        <h2>Web Design</h2>
                                        <p>Assertively exploit wireless initiatives rather than synergistic core
                                            competencies. </p>
                                    </div>

                                    <div class="talent">
                                        <h2>Interface Design</h2>
                                        <p>Credibly streamline mission-critical value with multifunctional
                                            functionalities. </p>
                                    </div>

                                    <div class="talent">
                                        <h2>Project Direction</h2>
                                        <p>Proven ability to lead and manage a wide variety of design and development
                                            projects in team and independent situations.</p>
                                    </div>
                                </div>
                            </div><!--// .yui-gf -->

                            <div class="yui-gf">
                                <div class="yui-u first">
                                    <h2>Technical</h2>
                                </div>
                                <div class="yui-u">
                                    <ul class="talent">
                                        <li>XHTML</li>
                                        <li>CSS</li>
                                        <li class="last">Javascript</li>
                                    </ul>

                                    <ul class="talent">
                                        <li>Jquery</li>
                                        <li>PHP</li>
                                        <li class="last">CVS / Subversion</li>
                                    </ul>

                                    <ul class="talent">
                                        <li>OS X</li>
                                        <li>Windows XP/Vista</li>
                                        <li class="last">Linux</li>
                                    </ul>
                                </div>
                            </div><!--// .yui-gf-->

                            <div class="yui-gf">

                                <div class="yui-u first">
                                    <h2>Experience</h2>
                                </div><!--// .yui-u -->

                                <div class="yui-u">

                                    <div class="job">
                                        <h2>Facebook</h2>
                                        <h3>Senior Interface Designer</h3>
                                        <h4>2005-2007</h4>
                                        <p>Intrinsicly enable optimal core competencies through corporate relationships.
                                            Phosfluorescently implement worldwide vortals and client-focused
                                            imperatives. Conveniently initiate virtual paradigms and top-line
                                            convergence. </p>
                                    </div>

                                    <div class="job">
                                        <h2>Apple Inc.</h2>
                                        <h3>Senior Interface Designer</h3>
                                        <h4>2005-2007</h4>
                                        <p>Progressively reconceptualize multifunctional "outside the box" thinking
                                            through inexpensive methods of empowerment. Compellingly morph extensive
                                            niche markets with mission-critical ideas. Phosfluorescently deliver
                                            bricks-and-clicks strategic theme areas rather than scalable benefits. </p>
                                    </div>

                                    <div class="job">
                                        <h2>Microsoft</h2>
                                        <h3>Principal and Creative Lead</h3>
                                        <h4>2004-2005</h4>
                                        <p>Intrinsicly transform flexible manufactured products without excellent
                                            intellectual capital. Energistically evisculate orthogonal architectures
                                            through covalent action items. Assertively incentivize sticky platforms
                                            without synergistic materials. </p>
                                    </div>


                                    <div class="job last">
                                        <h2>International Business Machines (IBM)</h2>
                                        <h3>Lead Web Designer</h3>
                                        <h4>2001-2004</h4>
                                        <p>Globally re-engineer cross-media schemas through viral methods of
                                            empowerment. Proactively grow long-term high-impact human capital and highly
                                            efficient innovation. Intrinsicly iterate excellent e-tailers with timely
                                            e-markets.</p>
                                    </div>

                                </div><!--// .yui-u -->
                            </div><!--// .yui-gf -->


                            <div class="yui-gf last">
                                <div class="yui-u first">
                                    <h2>Education</h2>
                                </div>
                                <div class="yui-u">
                                    <h2>Indiana University - Bloomington, Indiana</h2>
                                    <h3>Dual Major, Economics and English &mdash; <strong>4.0 GPA</strong></h3>
                                </div>
                            </div><!--// .yui-gf -->


                        </div><!--// .yui-b -->
                    </div><!--// yui-main -->
                </div><!--// bd -->

                <div id="ft">
                    <p>Jonathan Doe &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) -
                        867-5309</p>
                </div><!--// footer -->

            </div><!-- // inner -->


        </div><!--// doc -->


        </body>


    {% endif %}

{% endblock content %}
