{% extends 'main.html' %}
{% load static %}

{% block content %}

    <main class="home">
        <section class="hero-section text-center">
            <div class="container container--narrow">
                <div class="hero-section__box">
                    <h2>CONNECT WITH <span>USERS</span></h2>
                    <h2>FROM AROUND THE WORLD</h2>
                </div>

                <div class="hero-section__search">
                    <form class="form" action="#" method="get">
                        {% csrf_token %}
                        <div class="form__field">
                            <label for="formInput#search">Search Users </label>
                            <input class="input input--text" id="formInput#search" type="text" name="search_query"
                                   value="{{ search_query }}" placeholder="Search by user name"/>
                        </div>

                        <input class="btn btn--sub btn--lg" type="submit" value="Search"/>
                    </form>
                </div>
            </div>
        </section>

        <section class="devlist">
            <div class="container">
                <div class="grid grid--three">
                    {% for profile in profiles %}
                        <div class="column card">
                            <div class="dev">
                                <a href="{% url 'user-profile' profile.id %}" class="card__body">
                                    <div class="dev__profile">
                                        {% if profile.profile_image %}
                                            <img class="avatar avatar--md" src="{{ profile.profile_image.url }}"
                                                 alt="image"/>
                                        {% endif %}
                                        <div class="dev__meta">
                                            <h3>{{ profile.name }}</h3>
                                            <h5>{{ profile.location }}</h5>
                                             <h5>{{ profile.bio }}</h5>
                                            <h5>{{ profile.email }}</h5>

                                        </div>
                                    </div>

                                </a>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </section>

    </main>

{% endblock content %}