{% load static %}

{% block content %}
    <body>
    <header class="header">
        <div class="container container--narrow">
            <a href="/" class="header__logo">
                <img src="" alt="Resume Builder"/>
            </a>
            <nav class="header__nav">
                <input type="checkbox" id="responsive-menu"/>
                <label for="responsive-menu" class="toggle-menu">
                    <span>Menu</span>
                    <div class="toggle-menu__lines"></div>
                </label>
                <ul class="header__menu">
                    <li class="header__menuItem"><a href="{% url 'create-resume' %}">Create Resume</a></li>
                    <li class="header__menuItem"><a href="{% url 'resumes' %}">View Resumes</a></li>

                </ul>
            </nav>
        </div>
    </header>
    </body>

{% endblock content %}